// Editor and front end styles

@import "../src/slick/slick.css";
@import "../src/slick/slick-theme.css";

:where( .wp-block-tt-posts-post-featured-image ),
:where( .wp-block-tt-posts-post-title ),
:where( .wp-block-tt-posts-post-meta ),
:where( .wp-block-tt-posts-post-excerpt ),
:where( .wp-block-tt-posts-post-content ),
:where( .wp-block-tt-posts-post-link ) {
    margin-top: var( --wp--style--block-gap );
    margin-bottom: var( --wp--style--block-gap ) ; 
}
.wp-block-tt-posts {

	.wp-block-tt-posts-post-featured-image {

		.wp-block-tt-posts-post-thumbnail {
			height: auto;
			width: auto;
			max-width: 100%;
		}
		&.alignleft {
			/*rtl:ignore*/
			margin-right: 1rem;
			/*rtl:ignore*/
			float: left;
		}
		&.alignright {
			/*rtl:ignore*/
			margin-left: 1rem;
			/*rtl:ignore*/
			float: right;
		}
		&.aligncenter {
			margin-bottom: 1rem;
			text-align: center;
		}
	} 
	.wp-block-tt-posts-post-meta {
		font-size: var(--wp--preset--font-size--small);
		display: block;
	}
	&.alignleft {
		/*rtl:ignore*/
		margin-right: 2rem;
	}
	&.alignright {
		/*rtl:ignore*/
		margin-left: 2rem;
	}
	&.is-grid {
		list-style: none;
		padding-left: 0;
		display: flex;
		flex-wrap: wrap;
		padding: 0;

		.wp-block-tt-posts-post {
			clear: both;
			width: 100%;
			margin: 0 2rem 1rem 0;
		}
		@media (min-width:600px) {	
	
			&.columns-2 .wp-block-tt-posts-post {
				width: calc(50% - 1rem);
			}
			&.columns-2 .wp-block-tt-posts-post:nth-child(2n) {
				margin-right: 0;
			}
			&.columns-3 .wp-block-tt-posts-post {
				width: calc(33.33333% - 1.666666875rem);
			}
			&.columns-3 .wp-block-tt-posts-post:nth-child(3n) {
				margin-right: 0;
			}
			&.columns-4 .wp-block-tt-posts-post {
				width: calc(25% - 1.5rem);
			}
			&.columns-4 .wp-block-tt-posts-post:nth-child(4n) {
				margin-right: 0;
			}
			&.columns-5 .wp-block-tt-posts-post {
				width: calc(20% - 1.6rem);
			}
			&.columns-5 .wp-block-tt-posts-post:nth-child(5n) {
				margin-right: 0;
			}
			&.columns-6 .wp-block-tt-posts-post {
				width: calc(16.66667% - 1.666666875rem);
			}
			&.columns-6 .wp-block-tt-posts-post:nth-child(6n) {
				margin-right: 0;
			}
		}
	}
	&.is-carousel {
		
		.slick-list {
			margin: 0 -1rem;
		}
		.slick-slide {
			margin: 0 1rem;
		}	
		.slick-prev, 	
		.slick-next {
			background-color: black;
    		width: 1.125rem;
    		height: 2rem;
			opacity: .25;
			
			&:before {
				content: none;
			}
			&:hover {
				opacity: 1;
			}
		}
		.slick-prev {
			-webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIzLjAuNCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxOCAzMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTggMzI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojMjMyODJEO30KPC9zdHlsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIyLjEsMTMuOSAxNS45LDAuMSAxOCwyLjIgNC4yLDE2IDE4LDI5LjggMTUuOSwzMS45IDIuMSwxOC4xIDAsMTYgIi8+Cjwvc3ZnPgo=);
			-webkit-mask-repeat: no-repeat;
			mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIzLjAuNCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxOCAzMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTggMzI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojMjMyODJEO30KPC9zdHlsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIyLjEsMTMuOSAxNS45LDAuMSAxOCwyLjIgNC4yLDE2IDE4LDI5LjggMTUuOSwzMS45IDIuMSwxOC4xIDAsMTYgIi8+Cjwvc3ZnPgo=);
			left: rem-calc(-3rem);
			mask-repeat: no-repeat;
		}
		.slick-next {
			-webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTggMzIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE4IDMyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzIzMjgyRDt9PC9zdHlsZT48cG9seWdvbiBjbGFzcz0ic3QwIiBwb2ludHM9IjE4LDE2IDE1LjksMTguMSAyLjEsMzEuOSAwLDI5LjggMTMuOCwxNiAwLDIuMiAyLjEsMC4xIDE1LjksMTMuOSAiLz48L3N2Zz4=);
			-webkit-mask-repeat: no-repeat;
			mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTggMzIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE4IDMyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzIzMjgyRDt9PC9zdHlsZT48cG9seWdvbiBjbGFzcz0ic3QwIiBwb2ludHM9IjE4LDE2IDE1LjksMTguMSAyLjEsMzEuOSAwLDI5LjggMTMuOCwxNiAwLDIuMiAyLjEsMC4xIDE1LjksMTMuOSAiLz48L3N2Zz4=);
			right: rem-calc(-3rem);
			mask-repeat: no-repeat;
		}
	}
}
